[color]
ui = auto
[color "branch"]
current = yellow reverse
local = yellow
remote = green
[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
[color "status"]
added = green bold
changed = red bold
untracked = cyan bold
[user]
name = Matt Glover
email = matt@duchysoftware.com
[difftool "sourcetree"]
cmd = opendiff \"$LOCAL\" \"$REMOTE\"
path =
[mergetool "sourcetree"]
cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\" trustExitCode = true
[core]
excludesfile = /Users/mattglover/.gitignore_global
[alias]
g = status
s = status
st = status
ci = commit -am
co = checkout
cl = clone
pu = push -u origin master
lg10 = log -n 10 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
lg5 = log -n 5 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

alias 'gs'='git status'
alias 'gst'='git status'
alias 'ga'='git add --ignore-removal .'
alias 'ga.'='git add --all  .'
alias 'gp'='git push -v origin master'
alias 'gpm'='git push origin --mirror'
alias 'gpu'='git pull origin master -u'
alias 'gpsu'='git pull;git submodule update'
alias 'gd'='git diff | mate'
alias 'gr'='git rm'
alias 'gc'='git commit -v'
alias 'gcp'='git commit -v; git push'
alias 'gca'='git commit -v -a'
alias 'gcl'='git gc'
alias 'gb'='git branch --color'
alias 'gba'='git branch -a'
alias 'gre'='git reset --hard HEAD'
alias 'gcl'='git clone --recursive'
alias 'go'='git checkout '
alias 'gsa'='git submodule add'
alias 'gsmi'='git submodule init'
alias 'gsmu'='git submodule update'
alias 'gconf'='git repo-config --get-regexp user.'
alias 'got'='git '
alias 'get'='git '
alias 'gut'='git '
alias 'gl'='git log --pretty=oneline'

alias 'gss'='git stash save --keep-index'
alias 'gsd'='git stash drop'
